# A partial printer.cfg for using the BTT EBB36 V1.2
# Right-side extruder board (looking at front)

[mcu head0]
canbus_uuid:20239dbb2e76
#canbus_uuid:2f398b3f61eb
# use ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

[extruder]
step_pin: head0: PD0
dir_pin: !head0: PD1
enable_pin: !head0: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: head0: PB13
sensor_type:MAX31865
sensor_pin: head0: PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: -10
max_temp: 300

min_extrude_temp: 0
#for extruder testing without a thermistor connected

[tmc2209 extruder]
uart_pin: head0: PA15
run_current: 0.650
stealthchop_threshold: 250
#set to 0 if something goes bad

[temperature_sensor head0_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: head0
min_temp: 0
max_temp: 100

[adxl345]
cs_pin: head0: PB12
spi_software_sclk_pin: head0: PB10
spi_software_mosi_pin: head0: PB11
spi_software_miso_pin: head0: PB2
axes_map: x,y,z
#   The accelerometer axis for each of the printer's x, y, and z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y,x,z" to swap the x and y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x,z,-y"). The default is "x,y,z".

[fan_generic fan_extruder]
pin: head0: PA0
#part cooling fan

[heater_fan heater_fan_extruder0]
pin: head0: PA1
heater: extruder
heater_temp: 50.0
fan_speed: 1.0